@defaultColor: #458032;

section, div, p {
  margin: 0;
  padding: 0;
}

body, html {
  background-size: 100% auto;
  height: 100%;
}

#videoWrap {
  width: 672px;
  position: relative;
  overflow: hidden;
  .video {
    &.fullScreen {
      width: 100%;
      height: 100%;
    }
  }
  .menu {
    width: 100%;
    height: 50px;
    line-height: 50px;
    position: absolute;
    bottom: 15px;
    left: 0px;
    background: rgba(0, 0, 0, 0.3);
    cursor: pointer;
    display: block;
    overflow: hidden;
    -webkit-transition: all 1s;
    -moz-transition: all 1s;
    -ms-transition: all 1s;
    -o-transition: all 1s;
    transition: all 1s;
    button {
      position: absolute;
      top: 15px;
      margin-left: 10px;
      padding: 5px 10px;
      border-radius: 5px;
      background: @defaultColor;
      outline: none;
      color: #ffffff;
      border: none;
      cursor: pointer;
      &:focus {
        background: darken(@defaultColor, 10%);
      }
      &:hover {
        background: darken(@defaultColor, 10%);
      }
      &.btn_pause {
        left: 60px;
      }
    }
    .processBar {
      display: inline-block;
      width: 100%;
      margin-left: 130px;
      padding-right: 250px;
      position: relative;
      -webkit-box-sizing: border-box;
      -moz-box-sizing: border-box;
      box-sizing: border-box;
      .processBar_bg {
        display: inline-block;
        width: 100%;
        height: 5px;
        background: #999999;
      }
      .processBar_scrollPoint {
        position: absolute;
        height: 5px;
        top: 26px;
        left: 0;
        background: @defaultColor;
        .processBar_control{
          display: block;
          position: absolute;
          right: -10px;
          top: -5px;
          width: 15px;
          height: 15px;
          border-radius: 100%;
          background: @defaultColor;
          .slide_time{
            position: absolute;
            top: -15px;
            left: -10px;
            padding: 0 2px;
            border-radius: 5px;
            line-height: normal;
            font-size: 10px;
            background: #eeeeee;
            display: none;
            &.active{
              display: block;
            }
          }
        }
      }
      .totalTime {
        position: absolute;
        right: 250px;
        bottom: 2px;
        line-height: normal;
        font-size: 12px;
        color: #ffffff;
      }
    }
    .btn_voice {
      right: 80px;
      position: absolute;
      bottom: 2px;
      display: block;
      width: 5px;
      height: 45px;
      border: 1px solid #888888;
      color: #ffffff;
      .voice_control {
        position: absolute;
        display: block;
        bottom: 0;
        width: 5px;
        height: 22.5px;
        background: @defaultColor;
      }
      .less_voice,
      .more_voice {
        display: inline;
        position: absolute;
        bottom: -5px;
        line-height: normal;
        font-size: 20px;
      }
      .less_voice {
        left: -16px;
      }
      .more_voice {
        left: 10px;
      }
    }
    .btn_fullScreen {
      right: 10px;
    }
  }
  &:hover {
    .menu {
      left: 0px;
    }
  }
  &.fullScreen {
    width: 100%;
    background: #000000;
  }
}

